@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  font-size: 14px;
  color: #fff;
  background-color: #f8f0f0;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: space-evenly;
      justify-content: space-evenly;
  width: 100%;
  background-color: white;
  box-shadow: 0 5px 25px #738ea9;
  z-index: 1000;
}

.logo {
  height: 60px;
  line-height: 60px;
  font-size: 33px;
  color: #778ad0;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  padding-left: 20px;
  cursor: pointer;
}

#toggle {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  background-color: #778ad0;
  cursor: pointer;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

#toggle:before {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(-5px);
  transition: 0.2s;
}

#toggle:after {
  content: '';
  position: absolute;
  width: 28px;
  height: 2px;
  background-color: #fff;
  transform: translateY(5px);
  transition: 0.2s;
}

#toggle.active::before {
  transform: translateY(0px) rotate(45deg);
}

#toggle.active::after {
  transform: translateY(0px) rotate(-45deg);
}

#toggle.active {
  background-color: #778ad0;
}

#navbar {
  position: relative;
  height: 60px;
  right: 70px;
  background-color: #fff;
  transition: 0.5s;
  width: 0;
  overflow: hidden;
  margin: 0 auto;
}

#navbar.active {
  width: 450px;
}

#navbar ul {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  list-style: none;
}

#navbar ul li a {
  color: #778ad0;
  height: 60px;
  line-height: 60px;
  display: inline-block;
  text-decoration: none;
  font-size: 23px;
  font-weight: 600;
  padding: 0 10px 10px 0;
}

#navbar ul li a:hover {
  color: #dab174;
  text-transform: lowercase;
}

.svg-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 80px 0;
}

#colour-circle {
  animation-name: colourCircle;
  animation-duration: 6.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: unset;
}

@keyframes colourCircle {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

#circle-mobile {
  animation-name: circleMobile;
  animation-duration: 6.5s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: unset;
}

@keyframes circleMobile {
  0% {
    opacity: 0;
    transform: translateX(-2000px);
  }
  60% {
    opacity: 1;
    transform: translateX(30px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}

#circle-desktop {
  animation: circleDesktop 3s ease-out;
  animation-iteration-count: infinite;
  opacity: 0.5;
}

@keyframes circleDesktop {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.swiper-container {
  margin-top: 10px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.sections {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 5px;
  margin: 2px;
}

.intro,
.offer,
.projects,
.contact {
  width: 100%;
  height: 100vh;
  padding: 0 100px;
}

.section-container {
  width: 1170px;
  margin: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.section-container h2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 12vw;
  margin: 10px;
  margin-bottom: 50px;
  transition: 0.3s;
}

.card:hover {
  opacity: 0.5;
}

.card-header {
  text-align: center;
  padding: 30px 10px;
  color: #fff;
}

.card-body {
  margin-left: 15px;
}

.card-body p {
  font-weight: 600;
}

.intro {
  background-color: #110c4f93;
}

.offer {
  background-color: #130f40c4;
}

.projects {
  background-color: #110c4f93;
}

.contact {
  background-color: #130f40c4;
}

.image {
  width: 600px;
  margin-top: 25px;
}

.image > img {
  width: 80%;
  border-radius: 40px;
}

.projectOne,
.projectTwo {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 10px;
}

.project-image {
  width: 450px;
}

.project-text {
  color: white;
  border-radius: 8px;
  font-size: 16px;
  padding: 16px 32px;
  margin-top: 5px;
  text-align: auto;
}

.project-text:hover {
  opacity: 0.5;
}

.project-text a {
  text-decoration: none;
  color: #fff;
}

.project-text a:hover {
  font-weight: 600;
}

.text {
  width: 450px;
  font-family: 'Poppins', sans-serif;
  text-justify: auto;
  text-align: left;
}

.text > .title {
  font-size: 48px;
  margin-bottom: 30px;
}

.text > .description {
  font-size: 18px;
}

.contact-form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin: 0 auto;
}

.feedback-input {
  color: white;
  font-weight: 500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 25px;
  background-color: transparent;
  border: 2px solid #7ed6df;
  transition: all 0.3s;
  padding: 15px;
  margin-bottom: 10px;
}

textarea {
  height: 120px;
  line-height: 120%;
}

.submit {
  width: 50%;
  background: #7ed6df;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  font-weight: 400;
}

.submit:hover {
  background-color: #dab174;
}

.fab {
  color: #7ed6df;
}

.fab:hover {
  color: #dab174;
}

@media only screen and (max-width: 1024px) {
  #navbar {
    position: fixed;
    bottom: -100%;
    right: 0;
    width: 100%;
    transition: 0.5s;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  #navbar.active {
    height: calc(100vh - 60px);
    bottom: 0;
    width: 100%;
  }
  #navbar ul {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
    -ms-flex-align: center;
        align-items: center;
  }
  .sections {
    -ms-flex-align: center;
        align-items: center;
  }
  .card {
    width: 150px;
    height: 190px;
  }
  .card-body p {
    display: none;
  }
  .project-image {
    width: 300px;
  }
  .text > .title {
    font-size: 52px;
    font-weight: 100;
    margin-bottom: 5px;
    text-align: center;
  }
  .text > .description {
    font-size: 17px;
    text-align: left;
  }
  .image {
    width: 400px;
  }
}

@media only screen and (max-width: 768px) {
  .logo {
    margin-right: 25px;
  }
  .section-container {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .image {
    width: 350px;
    margin-top: 60px;
  }
  .card {
    width: 150px;
    height: 190px;
    margin-top: 20px;
  }
  .card-body p {
    display: none;
  }
  .project-image {
    width: 300px;
    margin-top: 15px;
  }
  .text {
    text-align: center;
  }
  .text > .title {
    font-size: 42px;
    font-weight: 100;
    margin-bottom: 15px;
    padding-top: 25px;
    text-align: center;
  }
  .text > .description {
    font-size: 16px;
    text-align: center;
  }
  .contact-form {
    margin-top: 10px;
  }
}

@media only screen and (max-width: 412px) {
  .logo {
    margin-right: 30px;
  }
  .sections {
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
  }
  .image {
    width: 300px;
  }
  .card {
    width: 150px;
    height: 150px;
  }
  .card-body img {
    max-width: 100px;
  }
  .project-image {
    width: 250px;
    margin-top: 10px;
  }
  .text > .title {
    font-size: 32px;
    margin-bottom: 15px;
    padding-top: 25px;
    text-align: center;
  }
  .text > .description {
    font-size: 18px;
    text-align: center;
    margin: 0 60px 0;
  }
  .fab {
    border: 2px solid #7ed6df;
    border-radius: 3px;
    padding: 3px;
  }
  .contact-form {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    margin: 10px auto;
  }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
  .logo {
    margin-right: 35px;
  }
  .sections {
    -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
  }
  .card {
    width: 150px;
    height: 150px;
  }
  .card-body img {
    max-width: 100px;
  }
  .card-header {
    font-size: 13px;
  }
  .image {
    width: 250px;
  }
  .project-image {
    max-width: 200px;
  }
  .text {
    text-align: center;
  }
  .text > .title {
    font-size: 31px;
    text-align: center;
  }
  .text > .description {
    font-size: 18px;
  }
  .contact-form {
    width: 50vw;
  }
  .feedback-input {
    height: 50px;
    padding: 12px;
    margin-bottom: 10px;
  }
  .submit {
    width: 40%;
    height: 25px;
    line-height: 26%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 280px) {
  .image {
    width: 180px;
    margin-top: 5px;
  }
  .project-image {
    max-width: 130px;
    margin: -5px;
  }
  .card {
    width: 150px;
    height: 120px;
    padding: 12px;
    margin-top: -10px;
  }
  .card-body img {
    max-width: 70px;
  }
  .text {
    height: -moz-fit-content;
    height: fit-content;
  }
  .text > .description {
    font-size: 16px;
    padding: 25px;
  }
}

@media only screen and (max-width: 1024px) and (orientation: landscape) {
  .text {
    text-align: center;
  }
  .text > .description {
    text-align: center;
  }
}

@media only screen and (max-width: 812px) and (orientation: landscape) {
  body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .sections {
    height: 480px;
    padding: 30px;
  }
  .card-body img {
    max-width: 100px;
  }
  .card-header {
    font-size: 13px;
  }
  .image {
    width: 300px;
    padding: 20px;
  }
  .project-image {
    max-width: 150px;
    margin: -10px;
  }
  .text {
    text-align: center;
  }
  .text > .title {
    font-size: 28px;
  }
  .text > .description {
    text-align: center;
    font-size: 14px;
  }
  .fab {
    border: 2px solid #7ed6df;
    border-radius: 3px;
    padding: 3px;
  }
  .contact-form {
    width: 30vw;
  }
  .feedback-input {
    height: 50px;
    padding: 12px;
    margin-bottom: 10px;
  }
  .submit {
    width: 40%;
    height: 25px;
    line-height: 26%;
    font-size: 15px;
  }
}

@media only screen and (max-width: 732px) and (orientation: landscape) {
  .image {
    display: none;
  }
  .text {
    margin-top: 5px;
  }
  .contact-form {
    width: 30vw;
  }
  .feedback-input {
    font-size: 15px;
    height: 32px;
    line-height: 32%;
    padding: 10px;
    margin-bottom: 7px;
  }
  .submit {
    width: 30%;
    height: 22px;
    line-height: 25%;
    font-size: 15px;
  }
}
/*# sourceMappingURL=style.css.map */