@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.carousel-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 700px;
}

.homeImage {
  height: 500px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 20px 0;
}

nav {
  position: static;
  top: 10px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  min-height: 8vh;
  color: #000;
}

.logo {
  color: #000;
  font-size: 30px;
  font-family: 'Lobster',cursive;
}

.nav-links li {
  display: inline;
  list-style-type: none;
  letter-spacing: 3px;
  padding-right: 20px;
  font-size: 20px;
}

.intro-container {
  background-color: #d0d4da;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  width: 80%;
  margin: 40px auto;
  border-radius: 5px;
}

.intro-contain h2 {
  font-size: 40px;
  text-align: center;
  margin: 30px;
}

.intro {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.image img {
  height: 300px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.image p {
  text-align: left;
  font-size: 18px;
  margin: 20px;
}

.offer-container {
  width: 90%;
  margin: 50px auto;
}

.heading {
  text-align: center;
  font-size: 30px;
  margin-bottom: 50px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card {
  width: 20%;
  background: #fff;
  border: 1px solid #cccccc;
  margin: 10px;
  margin-bottom: 50px;
  transition: 0.3s;
  overflow: hidden;
  border-radius: 5px;
}

.card-header {
  text-align: center;
  padding: 50px 10px;
  background: #95afc0;
  color: #000;
}

.card-body {
  padding: 30px 20px;
  text-align: center;
  font-size: 18px;
}

.card-body .btn {
  display: block;
  color: #ffbe76;
  text-align: center;
  background: #376487;
  margin-top: 30px;
  padding: 10px 5px;
  border-radius: 5px;
}

.card:hover {
  transform: scale(1);
  box-shadow: 0 0 60px -5px rgba(0, 0, 0, 0.25);
}

.footer {
  background-color: #0a3d62;
  color: #d3d3d3;
  height: 400px;
  position: relative;
}

.footer .footer-content {
  height: 400px;
  display: -ms-flexbox;
  display: flex;
}

.footer .footer-content .footer-section {
  -ms-flex: 1;
      flex: 1;
  padding: 40px;
  margin: 10px;
}

.footer .logo-text {
  word-spacing: 9px;
  font-size: 35px;
  font-family: 'Lobster',cursive;
}

.footer .footer-content h1 {
  color: #ea8685;
  margin-bottom: 15px;
  margin-top: 5px;
}

.footer .footer-content h2 {
  color: #c5c2c2;
  margin-bottom: 10px;
  margin-top: 10px;
}

.footer .footer-content .about .contact span {
  display: block;
  font-size: 19px;
  margin-bottom: 15px;
}

.footer .footer-content .about .socials a {
  border: 1px solid gray;
  width: 45px;
  height: 41px;
  padding-top: 8px;
  margin-right: 5px;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  color: #c5c2c2;
  border-radius: 5px;
  transition: all .3s;
}

.footer .footer-content .about .socials a:hover {
  border: 1px solid #c5c2c2;
  color: #a4cccc;
  transition: all .3s;
}

.footer .footer-content .links ul li {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  transition: all .3s;
}

.footer .footer-content .links ul li:hover {
  color: #c5c2c2;
  margin-left: 15px;
  transition: all .3s;
  color: #a4cccc;
}

.footer .footer-content .contact-form .contact-input {
  background: #376487;
  color: #c5c2c2;
  margin-bottom: 10px;
  line-height: 20px;
  padding: 15px 10px;
  border: none;
  border-radius: 5px;
}

.text-input {
  padding: 15px 10px;
  display: block;
  width: 80%;
  border-radius: 5px;
  border: 1px solid #c5c2c2;
  outline: none;
  color: #c5c2c2;
  line-height: 5px;
  font-size: 15px;
}

.btn {
  background: #33526a;
  color: #c5c2c2;
  border: 1px solid transparent;
  border-radius: 5px;
}

.btn-big {
  display: block;
  padding: 10px;
  line-height: 10px;
}

.btn:hover {
  color: #c5c2c2;
  background: #8caec7;
}

.footer .footer-bottom {
  background: #376487;
  color: #c5c2c2;
  height: 50px;
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 20px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background: #376487;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #8caec7;
}

@media (max-width: 768px) {
  .card {
    -ms-flex-direction: column;
        flex-direction: column;
    width: 100%;
  }
  .footer {
    height: 1000px;
  }
  .footer .footer-content {
    height: auto;
    -ms-flex-direction: column;
        flex-direction: column;
  }
}
/*# sourceMappingURL=style.css.map */