@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    position: relative;
    height: 100%;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.carousel-container {
    width: 100%;
    margin: auto;
    overflow: hidden;
    position: relative;
}

.slide {
    width: 90%;
    height: 100px;
}

.main_image {
    height: 100vh;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 20px 0;
}

nav {
    position: static;
    top: 10px;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-align: center;
    align-items: center;
    min-height: 8vh;
    color: #000;
}

.logo {
    color: #fff;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
    background-color: #f0766a;
    border-radius: 40px;
    padding: 5px;
}

.nav-links li {
    display: inline;
    list-style-type: none;
    letter-spacing: 3px;
    padding-right: 20px;
    font-size: 25px;
    font-weight: 600;
}

hr {
    width: 90%;
    height: 2px;
    margin-left: auto;
    margin-right: auto;
    background-color: #666;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.sections {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro,
.offer,
.projects,
.contact {
    width: 100%;
    height: 100vh;
    padding: 0 80px;
}

.section-container {
    width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.intro {
    background-color: #9287ca;
}

.offer {
    background-color: #82bed3;
}

.projects {
    background-color: #d8b696;
}

.contact {
    background-color: #e6a262;
}

.image {
    width: 600px;
    margin-top: 25px;
}

.image > img {
    width: 100%;
    border-radius: 40px;
}

.text {
    width: 350px;
    font-family: "Poppins", sans-serif;
    text-align: left;
}

.text > .title {
    font-size: 82px;
    font-weight: 100;
    margin-bottom: 50px;
}

.text > .description {
    font-size: 20px;
    font-weight: 100;
}

.swiper-container-horizontal > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite,
.swiper-container-vertical > .swiper-pagination-progressbar {
    position: absolute;
    left: 95%;
    top: 25%;
    height: 50%;
}

// Media queries
@media only screen and (max-width: 1024px) {
    .sections {
        justify-content: space-between;
        align-items: center;
    }

    .text > .title {
        font-size: 52px;
        font-weight: 100;
        margin-bottom: 5px;
        text-align: center;
    }

    .text > .description {
        font-size: 19px;
        font-weight: 100;
        text-align: justify;
        padding: 5px;
    }

    .image {
        width: 400px;
    }

    hr {
        margin-top: 10px;
        width: 100%;
    }

    .nav-links li {
        font-size: 20px;
        padding: 8px;
    }

    .logo {
        font-size: 25px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 768px) {
    .sections {
        justify-content: space-evenly;
        align-items: center;
    }

    .text > .title {
        font-size: 42px;
        font-weight: 100;
        margin-bottom: 5px;
        text-align: center;
    }

    .text > .description {
        font-size: 14px;
        font-weight: 100;
        text-align: justify;
        padding: 10px;
    }

    .image {
        width: 300px;
    }

    hr {
        margin-top: 8px;
        width: 100%;
    }

    .nav-links li {
        font-size: 17px;
    }

    .logo {
        font-size: 23px;
        margin-top: 10px;
    }
}

@media only screen and (max-width: 512px) {
    .section-container {
        display: flex;
        flex-direction: column;
    }

    .sections {
        justify-content: space-evenly;
        align-items: center;
    }

    .image {
        width: 300px;
    }

    .text > .title {
        font-size: 52px;
        font-weight: 100;
        margin-bottom: 15px;
        text-align: center;
    }

    .text > .description {
        font-size: 16px;
        font-weight: 100;
        text-align: justify;
        padding: 15px;
    }
}
